:root {
    --royal-blue: #423ffdef;
    --white: #ffffff;
    --black: #000000;
    --red: #ff4d4d;
    --green: #09d1a6;
    --dark-gray: #8c8d8d;
    --light-gray: #cfd1d1;
    --very-light-gray: #e0e2e2c7;
    --light-blue: #569affcb;
}

* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, sans-serif;
    background-color: var(--white);
    direction: ltr;
}

.nav-ready .menu {
    visibility: visible;
}

.menu {
    visibility: hidden;
}

/* --------------------------- חלק עליון --------------------------- */
header {
    position: sticky;
    top: 0;
    background-color: var(--white);
    z-index: 1000;
    border-bottom: 1px solid var(--very-light-gray);
    margin: 0 auto;
    padding: 2px;
    direction: ltr;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1300px;
    margin: 0 auto;
    padding: 10px;
    direction: ltr;
}

/*המילה Ask*/
.logo {
    color: var(--royal-blue);
    font-weight: bold;
    font-size: 24px;
}

/*המילה Hub*/
.logo span {
    color: var(--black);
}

.subtitle {
    color: var(--black);
    font-weight: normal;
    font-size: 17px;
    margin-left: 2px;
}

/*תפריט*/
.menu a {
    color: var(--dark-gray);
    text-decoration: none;
    margin-right: 20px;
    transition: all 0.3s ease;
    display: inline-block;
    font-weight: bold;
}

/*כפתור התחברות*/
.menu a.login {
    color: var(--royal-blue);
}

/*כפתור הרשמה*/
.menu a.signup {
    background-color: var(--royal-blue);
    color: var(--white);
    padding: 10px 18px;
    border-radius: 8px;
}

.menu a:hover {
    color: var(--light-gray);
    transform: translateY(-4px) scale(1.1);
}

.site-title {
    font-size: 30px;
}

/* --------------------------- אודות --------------------------- */

.about-strip {
    background-color: var(--white);
    padding: 10px 20px;
    text-align: center;
}

.inner-about h1 {
    color: var(--black);
}

.inner-about p {
    text-align: justify;
    line-height: 1.8;
    font-size: 18px;
    max-width: 900px;
    margin: 0 auto;
}

.inner-about {
    padding-top: 20px;
}

/* -------------------------- המבורגר -------------------------- */
#menu-toggle {
    display: none;
}

.hamburger {
    display: none;
}

/* --------------------------- דף הבית - תוכן --------------------------- */
.container {
    max-width: 1270px;
    margin: 40px auto;
    padding: 0 20px;
}

.grid-layout {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;
}

.card {
    background-color: var(--white);
    border-radius: 12px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    transition: transform 0.35s ease;
}

.card:hover {
    transform: translateY(-8px) scale(1.04);
    box-shadow: 0 12px 30px var(--light-gray);
}

.card img {
    width: 100%;
    height: 160px;
    object-fit: cover;
}

.main-article {
    grid-column: span 3;
    background-color: var(--white);
}

.main-article img {
    height: 220px;
}

.card-content {
    padding: 20px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.card-content h2 {
    color: var(--black);
    margin: 0 0 10px 0;
    font-size: 1.25rem;
}

.btn {
    background-color: var(--royal-blue);
    color: var(--white);
    text-decoration: none;
    padding: 8px 15px;
    border-radius: 6px;
    margin-top: auto;
    display: inline-block;
    text-align: center;
}

/* --------------------------- החלק התחתון של האתר ---------------------------- */

footer {
    background-color: var(--royal-blue);
    padding: 5px 5px;
    text-align: center;
}

.copyright {
    font-size: 18px;
    margin-bottom: 0;
    color: var(--white);
    margin-top: 80px;
}

.contact {
    margin-right: 10px;
}

.separator {
    font-size: 18px;
    color: var(--white);
}

.social {
    margin-left: 10px;
}

.footer-contact i {
    margin-right: 5px;
}

#facebook {
    margin-left: 5px;
}

.table-wrapper {
    width: 100%;
    overflow-x: auto;
}

/* ------------------------- התאמת האתר למובייל ------------------------- */
@media (max-width: 1040px) {

    /* header */
    .nav-container {
        display: flex;
        align-items: center;
    }

    .mobile-auth {
        display: flex;
        gap: 10px;
        align-items: center;
        margin-left: auto;
        margin-right: 15px;
        order: 2;
        font-size: 14px;
    }

    /* כפתור המבורגר */
    .hamburger {
        display: block;
        color: var(--black);
        font-size: 30px;
        cursor: pointer;
        position: relative;
        z-index: 3000;
        order: 3;
    }

    .logo {
        order: 1;
    }

    /*תפריט צד*/
    .menu {
        position: fixed;
        top: 0;
        right: -250px;
        width: 220px;
        height: 100vh;
        background-color: var(--white);
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 100px;
        gap: 25px;
        transition: right 0.3s ease;
        z-index: 2000;
    }

    #menu-toggle:checked~.menu {
        right: 0;
    }

    .menu a {
        margin: 0;
        font-size: 20px;
    }

    .subtitle {
        display: none;
    }

    .grid-layout {
        grid-template-columns: 1fr;
    }

    .main-article {
        grid-column: span 1;
    }

    .container {
        padding: 15px;
        margin: 20px auto;
    }

    .card img {
        height: 200px;
    }

    .white-bubble {
        padding: 10px;
    }

    .form-content {
        padding: 15px;
    }

    .copyright {
        font-size: 13px;
        margin-top: 60px;
    }

    .profile-card {
        width: 100%;
        max-width: 100%;
        padding: 20px;
    }

    .profile-image {
        max-width: 100%;
    }

    body {
        overflow-x: hidden;
    }

    footer p {
        line-height: 0.8;
    }

    footer p:first-child {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .social {
        display: inline;
    }

    .separator {
        display: none;
    }

    .admin-card {
        padding: 15px;
    }

    .admin-table {
        min-width: 1000px;
    }

    .table-wrapper {
        overflow-x: auto;
    }
}